.topnav {
    background-color:  #204ca4;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    border-width: 10px;
    border-style: outset;
    border-color:rgb(37, 108, 240);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  
  .topnav a:hover {
    background-color: #f2f2f2;
    color: black;
  }
  
  .topnav a.active {
    background-color:  rgb(5, 15, 27);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #082b5c 10px, #082b5c 20px);
    color: white;
  }

  .hovedtittel {
    position: absolute;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.842);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    padding: 10px;
  }
  