/* Topnav-stilen brukes på navigasjonsfeltet øverst på siden */
.topnav {
  background-color: #204ca4; /* Bakgrunnsfargen til navigasjonsfeltet */
  position: relative; /* Posisjonerer elementet relativt til sitt normale sted */
  overflow: hidden; /*Hindrer utstikking*/
  top: 50%; /* Plasserer toppen av elementet 50% fra toppen av overordnet element */
  left: 50%; /* Plasserer venstre side av elementet 50% fra venstre side av overordnet element */
  transform: translateX(-50%); /* Senterer elementet horisontalt */
  width: 97%; /* Bredden på elementet */
  border-width: 10px; /* Tykkelsen på kanten rundt elementet */
  border-style: outset; /* Stilen på kanten av elementet */
  border-color: rgb(37, 108, 240); /* Fargen på kanten */
}

/* Stilen for lenkene innenfor navigasjonsfeltet */
.topnav a {
  float: left; /* Flytter elementet til venstre innenfor overordnet element */
  color: #f2f2f2; /* Tekstfargen */
  text-align: center; /* Sentrerer teksten horisontalt innenfor elementet */
  padding: 14px 16px; /* Inneholder padding for topp/bunn og venstre/høyre */
  text-decoration: none; /* Fjerner understreking og lignende for lenker */
  font-family: 'Inconsolata', monospace; /* Bruker 'Inconsolata' og generell monospace som skrifttype */
  font-size: 20px; /* Størrelsen på teksten */
  letter-spacing: 1.5px; /* Avstanden mellom bokstavene */
}

.topnav a:hover {
  background-color: rgb(242, 242, 242); /* Bakgrunnsfarge ved hover */
  color: black; /* Tekstfarge ved hover */
}

.topnav a.active {
  background-color: rgb(5, 15, 27); /* Bakgrunnsfargen for aktiv lenke */
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #082b5c 10px, #082b5c 20px); /*Gir den aktive lenken en stripete bakgrunn for å passe sammen med bakgrunnen på selveste dokumentet*/
  color: white; /* Tekstfargen for aktiv lenke */
}

/* Bakgrunnsbilde-stilen brukes på et element med klasse "bakgrunnsbilde" */
.bakgrunnsbilde {
  height: 605px; /* Høyden på elementet */
  z-index: -1; /* Angir stabelrekkefølgen av elementer (setter det bak andre elementer) */
  width: 97%; /* Bredden på elementet */
  position: relative; /* Posisjonerer elementet relativt til sitt normale sted */
  left: 50%; /* Plasserer venstre side av elementet 50% fra venstre side av overordnet element */
  transform: translateX(-50%); /* Senterer elementet horisontalt */
  border-width: 10px; /* Tykkelsen på kanten rundt elementet */
  border-style: inset; /* Stilen på kanten av elementet */
  border-color: rgb(37, 108, 240); /* Fargen på kanten */
}

/* Body-stilen brukes på hele nettsidekroppen */
body {
  background-color: rgb(5, 15, 27); /* Bakgrunnsfargen til nettsiden */
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #082b5c 10px, #082b5c 20px); /*Legger til striper i bakgrunnen*/
}

/* Hovedtittel-stilen brukes på den ene og viktigste overskriften på siden */
.hovedtittel {
  position: absolute; /* Posisjonerer elementet absolutt innenfor sitt nærmeste posisjonerte (ikke statiske) overordnede element */
  font-size: 60px; /* Størrelsen på teksten */
  background-color: rgba(0, 0, 0, 0.842); /* Bakgrunnsfargen til overskriften */
  top: 50%; /* Plasserer toppen av elementet 50% fra toppen av overordnet element */
  left: 50%; /* Plasserer venstre side av elementet 50% fra venstre side av overordnet element */
  transform: translate(-50%, -50%); /* Senterer elementet både horisontalt og vertikalt */
  font-family: 'Inconsolata', monospace; /* Bruker 'Inconsolata' og generell monospace som skrifttype */
  white-space: nowrap; /* Forhindrer at teksten brytes over flere linjer */
  padding: 10px; /* Skaper padding rundt hele elementet */
}

/* H1-stilen brukes på alle H1-elementer på siden */
h1 {
  text-align: center; /* Sentrerer teksten horisontalt innenfor elementet */
  text-shadow: 2px 2px 2px rgb(37, 108, 240); /* Skyggeeffekt på teksten */
  letter-spacing: 1.5px; /* Avstanden mellom bokstavene */
}

/* Generell stil for H1- og p-elementer */
h1, p {
  color: white; /* Tekstfargen */
  font-family: 'Inconsolata', monospace; /* Bruker 'Inconsolata' og generell monospace som skrifttype */
}

/* Overskrift-stilen brukes på elementer med klasse "overskrift" */
.overskrift {
  font-size: 40px; /* Størrelsen på teksten */
}

/* P-stilen brukes på alle p-elementer på siden */
p {
  font-size: 30px; /* Størrelse på teksten */
  text-align: left !important; /* Venstrejustering av teksten */
  line-height: 1.5; /* Linjehøyde for bedre lesbarhet */
}

/* Listframe-stilen brukes på elementer med klasse "listframe" */
.listframe {
  border-left: outset #f2f2f2 10px; /* Venstre kantstil for rammelementer */
}

/* Li-stilen brukes på alle li-elementer på siden */
li {
  text-align: left; /* Venstrejustering av teksten innenfor listeelementer */
  color: white; /* Tekstfargen */
  font-size: 28px; /* Størrelsen på teksten */
  font-family: 'Inconsolata', monospace; /* Bruker 'Inconsolata' og generell monospace som skrifttype */
}

/* List-stilen brukes på elementer med klasse "list" */
.list {
  margin: 0 auto; /* Setter automatisk margin til 0 på topp og bunn, og sentrerer horisontalt */
  width: 97%; /* Bredden på elementet */
  background-color: rgba(0, 0, 0, 0.5); /* Bakgrunnsfargen til listen */
}

/* Tekstboks-stilen brukes på elementer med klasse "tekstboks" */
.tekstboks {
  background-color: rgba(0, 0, 0, 0.5); /* Bakgrunnsfargen til tekstboksen */
  width: 97%; /* Bredden på tekstboksen */
  margin: 0 auto; /* Setter automatisk margin til 0 på topp og bunn, og sentrerer horisontalt */
}

/* Lenkestil for lenker innenfor rammelementer med klasse "listframe" */
.listframe a:link {
  color: rgb(37, 108, 240); /* Fargen på lenkene */
}

.listframe a:visited {
  color: rgb(37, 108, 240); /* Fargen på besøkte lenker */
}

.listframe a:hover {
  color: #f2f2f2; /* Fargeendring ved hover-effekt på lenker */
}

/* Fremvisningsbilde-stilen brukes på elementer med klasse "fremvisningsbilde" */
.fremvisningsbilde {
  height: 400px; /* Høyden på bildet */
  width: 700px; /* Bredden på bildet */
  border: outset rgb(37, 108, 240) 2px; /* Stilen for rammen rundt bildet */
  margin: 20px; /* Margin rundt bildet */
}

/* Bunntekst-stilen brukes på elementer med klasse "bunntekst" */
.bunntekst {
  padding-bottom: -10px; /* Bunn padding med negativ verdi */
  padding-top: 10px; /* Top padding */
  text-align: center !important; /* Senterer teksten horisontalt, viktig for å overstyre andre stiler */
  bottom: 0px; /* Plasserer bunnen av elementet 0 piksler fra bunnen av overordnet element */
  margin: 0 auto; /* Setter automatisk margin til 0 på topp og bunn, og sentrerer horisontalt */
  font-size: 32px; /* Størrelsen på teksten */
  background-color: rgba(0, 0, 0, 0.5); /* Bakgrunnsfargen til bunnteksten */
  width: 97%; /* Bredden på bunnteksten */
  border: 4px solid rgb(37, 108, 240); /* Stilen for bunntekstens kant */
  border-bottom: none !important; /* Ingen kant i bunnen */
  border-style: inset; /* Stilen på kanten av elementet */
}

/* Høyre-stilen brukes til å plassere elementer til høyre, som i dette tilfellet er bilder */
.høyre {
  float: right; /* Flytter elementet til høyre innenfor overordnet element */
}

/* Venstre-stilen brukes til å plassere elementer til venstre, som i dette tilfellet er bilder */
.venstre {
  float: left; /* Flytter elementet til venstre innenfor overordnet element */
}

/* Lenkestil for lenker med klasse "kildelink" */
.kildelink:link {
  color: rgb(37, 108, 240); /* Fargen på lenkene */
}

.kildelink:visited {
  color: rgb(37, 108, 240); /* Fargen på besøkte lenker */
}

.kildelink:hover {
  color: #f2f2f2; /* Fargeendring ved hover-effekt på lenker */
}

